{% extends 'plantilla.html' %}
{% block titulo %}
  Principal
{% endblock %}
{% block cuadro %}
	col-md-11 mt-1 mx-auto
{% endblock %}
{% block contenido %}
  <h1 class="display-4 text-center">Bot de whatsApp <i class="fa fa-whatsapp text-success fa-2x"></i></h1>
  <p class="lead text-center">Scanea con tu celular el codigo QR que aparecera en la ventana del navegador Firefox </p>
  <p class="lead text-center">para activar whatsApp web.</p>
  <hr class="my-4">
  <img src="{{ url_for('static', filename='img/QR-code.png') }}" alt="" class="rounded mx-auto d-block">
{% endblock %}