{% extends 'plantilla.html' %}
{% block titulo %}
  Enviar Mensajes
{% endblock %}
{% block cuadro %}
  col-sm-9 col-md-7 col-lg-5 mx-auto
{% endblock %}
{% block contenido %}
  <h5 class="card-title text-center">Envio de Mensajes</h5>
  	{% from "formhelpers.html" import render_field %}
  	<form method="POST" action="">
    	<div class="form-label-group">
      		{{render_field(form.hora, class_="form-control")}}
    	</div>
      <br> 
      <div class="form-label-group">
          {{render_field(form.mensaje, class_="form-control", placeholder="Mensaje")}}
      </div>
      <br> 
    	<p><input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar"></p>
  </form>
{% endblock %}